In [12]:
import mysql.connector
from mysql.connector import Error

# Establish a connection to the database
def create_connection():
    try:
        print("Attempting to connect...")
        connection = mysql.connector.connect(
            host="***",
            user="admin",
            password="***!",
            database="database-1"
        )
        if connection.is_connected():
            print("Connection successful")
        return connection
    except Error as e:
        print(f"Error: {e}")
        return None

connection = create_connection()
print(connection)

Attempting to connect...
Error: 2003 (HY000): Can't connect to MySQL server on 'database-1.cjyo2mimkqmt.us-east-2.rds.amazonaws.com:3306' (60)
None

In [6]:
connection = create_connection()
connection

KeyboardInterrupt:

In [ ]:
# Create a sample table
def create_table(connection):
    cursor = connection.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS sample (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), age INT)")

In [ ]:
create_table(connection)

In [ ]:
# Insert a record
def insert_record(connection, name, age):
    cursor = connection.cursor()
    query = "INSERT INTO sample (name, age) VALUES (%s, %s)"
    cursor.execute(query, (name, age))
    connection.commit()

In [ ]:
insert_record(connection, "John Doe", 30)
insert_record(connection, "Jane Smith", 28)

In [ ]:
# Select records
def select_records(connection):
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM sample")
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [ ]:
select_records(connection)

In [ ]:
# Update a record
def update_record(connection, name, age, id):
    cursor = connection.cursor()
    query = "UPDATE sample SET name = %s, age = %s WHERE id = %s"
    cursor.execute(query, (name, age, id))
    connection.commit()

In [ ]:
update_record(connection, "John Doe", 31, 1)
select_records(connection)

In [ ]:
# Delete a record
def delete_record(connection, id):
    cursor = connection.cursor()
    query = "DELETE FROM sample WHERE id = %s"
    cursor.execute(query, (id,))
    connection.commit()
delete_record(connection, 1)

In [ ]:
select_records(connection)

In [ ]:
# ...

# Insert multiple records
def insert_multiple_records(connection, records):
    cursor = connection.cursor()
    query = "INSERT INTO sample (name, age) VALUES (%s, %s)"
    cursor.executemany(query, records)
    connection.commit()

# Main function to perform all operations


records = [("John1 Doe", 30), ("Jane1 Smith", 28), ("Alice Brown", 24)]
insert_multiple_records(connection, records)

In [ ]:
select_records(connection)